.div-tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-left:  auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 40px;
}

.table-tasks {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    border : 1px solid rgb(70, 70, 70);
    border-radius: 10px;
}

.rows-tasks {
    align-items: center;
    border-bottom: 1px solid rgb(70, 70, 70);
    padding: 10px;
}

.checked {
    text-decoration: line-through;
}

.text-center {
    text-align: center;
}

.form-new-task {
    display: flex;
    width: 80%;
    gap: 10px;
    margin: 0 auto;
    margin-top: 40px;
}

.text-orange {
    color: rgb(235, 134, 2);
}

.text-blue {
    color: rgb(72, 72, 201);
}

.text-yellow {
    color: yellow;
}

.text-grey {
    color: grey;
}

.btn-action {
    width : 120px;
    height: 30px;
    font-weight: bold;
}

.actions-col {
    display: flex;
    justify-content: end;
  }

.actions-col-head {
    display: flex;
    justify-content: end;
    margin-right: 180px;
}

.title-margin {
    margin-top: 40px;
}
